/* import fonts */
@font-face {
  font-family: "Karla";
  src: url("../assets/Fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Markazi Text";
  src: url("../assets/Fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf")
    format("truetype");
}

.parent {
}

.nav-main {
}

.nav-links {
  list-style-type: none;

  font-family: "Karla", sans-serif;

  font-weight: bold;
}

.nav-links li {
}
.nav-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-dropdown {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .nav-icon {
    display: block;
  }
  .nav-dropdown.show {
    display: block;
  }
}

/* reserve table form  */
.sub-header {
  font-family: "Karla", sans-serif;

  font-weight: bold;
}

.chakra-text.header-form.css-0 {
  font-family: "Markazi Text", sans-serif;
}

.hidden {
  display: none;
}
