/* import fonts */
@font-face {
  font-family: "Karla";
  src: url("../assets/Fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Markazi Text";
  src: url("../assets/Fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf")
    format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

/* Ensure all elements use border-box sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}
