/* import fonts */
@font-face {
  font-family: "Karla";
  src: url("../assets/Fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Markazi Text";
  src: url("../assets/Fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf")
    format("truetype");
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 290px;
  margin-right: 290px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer > * {
  align-content: start;
  font-family: "Karla";
}

.hover.effect {
  align-items: flex-start;
}

@media screen and (max-width: 400px) {
  .footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    margin-left: 200px;
    margin-right: 200px;
    gap: 10px;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer a {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    margin-left: 50px;
    margin-right: 50px;
  }
}
