/* import fonts */
@font-face {
  font-family: "Karla";
  src: url("../assets/Fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Markazi Text";
  src: url("../assets/Fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf")
    format("truetype");
}

.hero-section {
  background-color: #495e57;
}
.hero-content {
  margin: 20px;
}
.hero-image {
}

.hero-image img {
}

#hero-title {
  font-family: "Markazi Text", serif;
  font-size: 64pt;
  color: #f4ce14;
}

#hero-subtitle {
  font-family: "Markazi Text", serif;

  color: #edefee;
}

.hero-content h2 {
  font-size: 20pt;
  font-family: "Markazi Text", serif;
}
.hero-content p {
  font-family: "karla", serif;
  max-width: 64ch;
  color: #edefee;
  font-size: 14pt;
  margin-bottom: 10px;
  white-space: wrap;
}

.mybutton {
  background-color: #f4ce14;

  color: black;

  font-family: "karla", serif;

  font-weight: bold;
}

/* Media query for smaller screens, like phones */
@media screen and (max-width: 600px) {
}
