@font-face {
  font-family: "Karla";
  src: url("../assets/Fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Markazi Text";
  src: url("../assets/Fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf")
    format("truetype");
}

.highlights-main {
  display: flex;
  flex-direction: column;
  margin-left: 290px;
  margin-right: 290px;
}

.highlights.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.highlights.head > h1 {
  font-family: "Markazi Text";
  font-size: 38pt;
  font-weight: 900;
}

.highlights-main > .highlights-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.chakra-card {
  flex: 1 1 100px;
}

@media screen and (max-width: 1200px) {
  .highlights-main {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media screen and (max-width: 992px) {
  .highlights-main {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media screen and (max-width: 768px) {
  .highlights-main {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  .highlights-main {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 400px) {
  .highlights.head > h1 {
    font-size: 28pt;
  }
  .highlights-main > .highlights-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .highlights.head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chakra-card {
    flex: auto;
  }
}
